# Telegram API credentials
API_ID=
API_HASH=
PHONE_NUMBER=

# Optional: Access Token for API
ACCESS_TOKEN_EXPIRE_MINUTES=

# Optional: Postgres database connection, otherwise it will use SQLite
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=